[submodule "resolver_implementation/lib/openzeppelin-contracts"]
	path = resolver_implementation/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts

[submodule "resolver/fusion-resolver-example"]
	path = resolver/fusion-resolver-example
	url = https://github.com/SamkitSoni/fusion-resolver-example.git

[submodule "cross-chain-swap"]
	path = cross-chain-swap
	url = https://github.com/yug49/cross-chain-swap.git

[submodule "limit-order-protocol"]
	path = limit-order-protocol
	url = https://github.com/yug49/limit-order-protocol.git

